.auth-container {
  max-width: 400px;
  margin:25px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.auth-container h2 {
  margin-bottom: 20px;
}

.auth-container input {
  width: 80%;
  padding: 15px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.auth-container button {
  width: 80%;
  padding: 15px;
  background-color: #007bff;
  color: white;
  margin: 10px;
  border: none;
  border-radius: 5px;
}

.auth-container button:hover {
  background-color: #0056b3;
}

.auth-container p {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .auth-container {
    width: 90%;
  }
}
